
/* NAVIGATION*/

.navigation{
    background-color:lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    width: 50px;
}

.nav-menu a{
    list-style: none;
    text-decoration: none;
    color:black;
}

.sideBarIcon{
   font-size: 20px;
   padding: 20px;
   background: none;
   text-decoration: none;

}

.nav-menu-items a:hover{
    color:darkblue;
    cursor: pointer;
    text-decoration: none;
}

.nav-menu{
    background-color: whitesmoke;
    width: 250px;
    height: 100px;
    display: flex;
    /*flex-direction: column;*/
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-menu li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px; 
    
}


.logoDiv{
    display: flex;
    align-content: center;
}

.logoImg{
   
    align-self: center;
   
}

.cartIconDiv{
    position:relative;
    margin-right:50px;
}

.cartIconDiv span{
    background-color: darkblue;
    border-radius: 20px;
    color:white;
    position: absolute;
    top: -20px;
    right: -10px;
    font-size: 15px;
    padding: 5px;
}


