.contador{
    margin: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.substract, .add, .contador2{
    padding: 10px;
    margin: 10px;
}
.comprar{
    margin: 50px;
    
    
}
.addToCart{
    width: 200px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: lightsteelblue;
    border-radius: 20px;
    border: 2px solid grey
    
}
    
.addToCart :hover{
    cursor: pointer;
}